{:watchers
 {:home/projects/promethean
  {:synthetic [{:id :git/change
                :on :change
                :glob "**/.git/**"}
               {:id :change/file/large
                :on :change
                :when {:size-over 1000000}}
               {:id :change/many/fast
                :on :any
                :fn sentinel.synthetic/many-fast}]
   :actions [:publish/fs.raw :publish/fs.synthetic]
   :children
   {:home/projects/promethean/services/autocommit
    {:synthetic [{:id :autocommit/trigger
                  :on :change
                  :glob "**/*"}]}}}}}
